html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, span, a, button, li, select, option, input {
  font-size: 1.6rem;
}

label {
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

h1, .logo {
  font-size: 4rem;
  font-weight: 200;
}
h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
h3 {
  font-size: 2.4rem;
}

// Button Styles
.primary-btn, .secondary-btn {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 35rem;
  border: 2px solid lightskyblue;
  background-color: white;
  border-radius: .5rem;
  margin-bottom: 1.2rem;
  height: auto;
  background-color: lightskyblue;
  padding: .75rem .25rem;
  cursor: pointer;
  &:hover {
    background-color: darken(lightskyblue, 10%);
  }
}
.secondary-btn {
  background-color: lightgray;
  border-color: lightgray;
  &:hover {
    background-color: darken(lightgray, 10%);
  }
}
.delete-btn, .accept-btn, .download-btn {
  border: none;
  border-radius: .5rem;
  font-weight: 200;
  cursor: pointer;
}
.delete-btn {
  background-color: lightcoral;
  color: white;
  &:hover {
    background-color: darken(lightcoral, 20%);
  }
}
.accept-btn {
  background-color: lightgreen;
  &:hover {
    background-color: darken(lightgreen, 20%);
  }
}
.download-btn {
  background-color: lightskyblue;
  &:hover {
    background-color: darken(lightskyblue, 20%);
  }
}

// Form Styles
.form-container {
  display: flex;
  justify-content: center;
}
form {
  label, input, select {
    display: block;
    margin-bottom: 1rem;
  }
}
input, select {
  box-sizing: border-box;
  height: 3.5rem;
  width: 35rem;
  border: 2px solid lightskyblue;
  background-color: white;
  border-radius: .5rem;
  margin-bottom: 1.2rem;
}

input[type="file"] {
  border: none;
}
.search-input {
  text-align: center;
}

// Header Styles
header {
  position: relative;
  background-color: #444;
  height: 4.5rem;
  padding: 2rem;
  color: white;
  text-align: center;
  .logo {
    color: lightskyblue;
    display: inline-block;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 1rem;
    }
    a {
      color: white;
      &:hover {
        color: darken(white, 20%);
      }
    }
  }
}
nav {
  position: absolute;
  top: 3.8rem;
  right: 2rem;
}

// Main Styles
main {
  padding: 4rem;
}
section {
  margin: 4rem 0;
}
h2 {
  margin-bottom: 1rem;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}


// Patient Styles
.patient-char {
  margin-bottom: 1.2rem;
  span {
    display: block;
  }
  .patient-char-name {
    color: #999;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: .3rem;
  }
  .patient-char-val {
    font-size: 2.2rem;
  }
}
.patient-box {
  display: inline-block;
  padding: 2rem;
  min-width: 15rem;
  border: 2px solid lightskyblue;
  border-radius: .5rem;
  margin: 2rem 2rem 2rem 0;
  &:hover {
    background-color: lightskyblue;
    color: white;
  }
  span {
    display: block;
  }
  .patient-char-label {
    color: #999;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: .3rem;
  }
  .patient-char {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
}
.patients-container, .patient-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.patient-info, .appointments, .file-section {
  flex: 1 1 calc(100%/3);
}

// Appointment Styles
.appointment-box {
  width: 100%;
  max-width: 40rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: 1px solid lightgray;
  span {
    display: block;
  }
  .appointment-title {
    font-size: 2rem;
    text-align: center;
    line-height: 1.8;
    &.pending {
      background-color: khaki;
    }
    &.accepted {
      background-color: lightgreen;
    }
    &.past {
      background-color: lightgray;
    }
  }
  .appointment-details {
    position: relative;
    padding: 1rem;
  }
  .appointment-status {
    text-transform: capitalize;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .appointment-purpose {
    max-width: 100%;
    padding-bottom: 2rem;
  }
  .appointment-actions {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
.appointment-actions, .file-actions {
  display: flex;
  justify-content: space-between;
  button:nth-child(2) {
    margin-left: 1rem;
  }
}

// File Styles
.files {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.file-box {
  padding: 4rem 2rem;
  border: 2px solid lightskyblue;
  border-radius: .5rem;
  margin: 2rem 2rem 2rem 0;
  position: relative;
  .file-name {
    display: block;
    margin-bottom: 1rem;
    max-width: 16rem;
    word-wrap: break-word;
  }
  .file-corner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 0 0 2rem;
    border-color: white transparent transparent lightskyblue;
    position: absolute;
    top: -.2rem;
    right: -.2rem;
  }
  .file-actions {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
