html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

p, span, a, button, li, select, option, input {
  font-size: 1.6rem; }

label {
  font-size: 1.4rem;
  margin-bottom: .3rem; }

a {
  text-decoration: none; }

h1, h2, h3 {
  margin: 0; }

h1, .logo {
  font-size: 4rem;
  font-weight: 200; }

h2 {
  font-size: 3.2rem;
  font-weight: 400; }

h3 {
  font-size: 2.4rem; }

.primary-btn, .secondary-btn {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 35rem;
  border: 2px solid lightskyblue;
  background-color: white;
  border-radius: .5rem;
  margin-bottom: 1.2rem;
  height: auto;
  background-color: lightskyblue;
  padding: .75rem .25rem;
  cursor: pointer; }
  .primary-btn:hover, .secondary-btn:hover {
    background-color: #56baf8; }

.secondary-btn {
  background-color: lightgray;
  border-color: lightgray; }
  .secondary-btn:hover {
    background-color: #bababa; }

.delete-btn, .accept-btn, .download-btn {
  border: none;
  border-radius: .5rem;
  font-weight: 200;
  cursor: pointer; }

.delete-btn {
  background-color: lightcoral;
  color: white; }
  .delete-btn:hover {
    background-color: #e52525; }

.accept-btn {
  background-color: lightgreen; }
  .accept-btn:hover {
    background-color: #38e038; }

.download-btn {
  background-color: lightskyblue; }
  .download-btn:hover {
    background-color: #25a6f6; }

.form-container {
  display: flex;
  justify-content: center; }

form label, form input, form select {
  display: block;
  margin-bottom: 1rem; }

input, select {
  box-sizing: border-box;
  height: 3.5rem;
  width: 35rem;
  border: 2px solid lightskyblue;
  background-color: white;
  border-radius: .5rem;
  margin-bottom: 1.2rem; }

input[type="file"] {
  border: none; }

.search-input {
  text-align: center; }

header {
  position: relative;
  background-color: #444;
  height: 4.5rem;
  padding: 2rem;
  color: white;
  text-align: center; }
  header .logo {
    color: lightskyblue;
    display: inline-block; }
  header ul {
    list-style: none;
    margin: 0; }
    header ul li {
      display: inline-block;
      margin: 0 1rem; }
    header ul a {
      color: white; }
      header ul a:hover {
        color: #cccccc; }

nav {
  position: absolute;
  top: 3.8rem;
  right: 2rem; }

main {
  padding: 4rem; }

section {
  margin: 4rem 0; }

h2 {
  margin-bottom: 1rem; }

h1 {
  text-align: center;
  margin-bottom: 2rem; }

.patient-char {
  margin-bottom: 1.2rem; }
  .patient-char span {
    display: block; }
  .patient-char .patient-char-name {
    color: #999;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: .3rem; }
  .patient-char .patient-char-val {
    font-size: 2.2rem; }

.patient-box {
  display: inline-block;
  padding: 2rem;
  min-width: 15rem;
  border: 2px solid lightskyblue;
  border-radius: .5rem;
  margin: 2rem 2rem 2rem 0; }
  .patient-box:hover {
    background-color: lightskyblue;
    color: white; }
  .patient-box span {
    display: block; }
  .patient-box .patient-char-label {
    color: #999;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: .3rem; }
  .patient-box .patient-char {
    margin-bottom: 1rem;
    font-size: 2.2rem; }

.patients-container, .patient-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.patient-info, .appointments, .file-section {
  flex: 1 1 calc(100%/3); }

.appointment-box {
  width: 100%;
  max-width: 40rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: 1px solid lightgray; }
  .appointment-box span {
    display: block; }
  .appointment-box .appointment-title {
    font-size: 2rem;
    text-align: center;
    line-height: 1.8; }
    .appointment-box .appointment-title.pending {
      background-color: khaki; }
    .appointment-box .appointment-title.accepted {
      background-color: lightgreen; }
    .appointment-box .appointment-title.past {
      background-color: lightgray; }
  .appointment-box .appointment-details {
    position: relative;
    padding: 1rem; }
  .appointment-box .appointment-status {
    text-transform: capitalize;
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .appointment-box .appointment-purpose {
    max-width: 100%;
    padding-bottom: 2rem; }
  .appointment-box .appointment-actions {
    position: absolute;
    right: 1rem;
    bottom: 1rem; }

.appointment-actions, .file-actions {
  display: flex;
  justify-content: space-between; }
  .appointment-actions button:nth-child(2), .file-actions button:nth-child(2) {
    margin-left: 1rem; }

.files {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.file-box {
  padding: 4rem 2rem;
  border: 2px solid lightskyblue;
  border-radius: .5rem;
  margin: 2rem 2rem 2rem 0;
  position: relative; }
  .file-box .file-name {
    display: block;
    margin-bottom: 1rem;
    max-width: 16rem;
    word-wrap: break-word; }
  .file-box .file-corner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 0 0 2rem;
    border-color: white transparent transparent lightskyblue;
    position: absolute;
    top: -.2rem;
    right: -.2rem; }
  .file-box .file-actions {
    position: absolute;
    right: 1rem;
    bottom: 1rem; }
